
.container-registros {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para los formularios */
.form {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.form label {
    display: block;
    margin-bottom: 5px;
}

.form input[type="text"],
.form button {
    box-sizing: border-box;
    /* Agregamos esta propiedad */
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form button {
    background-color: #4285f4;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #357ae8;
}

