<div class="container-registros">
    <h1>Registrar Marcas, Colores y Modelos</h1>

    <div class="form">
        <h2>Registrar Marca</h2>
        <label for="marca_nombre">Nombre de la Marca:</label>
        <input type="text" id="marca_nombre" name="marca_nombre" required>
        <button type="button" id="btnRegistrarMarca">Registrar Marca</button>
    </div>

    <div class="form">
        <h2>Registrar Color</h2>
        <label for="color_nombre">Nombre del Color:</label>
        <input type="text" id="color_nombre" name="color_nombre" required>
        <button type="button" id="btnRegistrarColor">Registrar Color</button>
    </div>

    <div class="form">
        <h2>Registrar Modelo</h2>
        <label for="modelo_nombre">Nombre del Modelo:</label>
        <input type="text" id="modelo_nombre" name="modelo_nombre" required>
        <button type="button" id="btnRegistrarModelo">Registrar Modelo</button>
    </div>
</div>

