<div class="container-salida">
    <h1>Registrar salida de vehículos</h1>
    <div id="matriculasForm">
        <label for="matricula">Seleccione una matrícula:</label>
        <select id="lugaresOcupadosList" name="lugaresOcupadosList" required>
            <option value="" disabled selected>Seleccione una matrícula</option>
            <!-- Las opciones se cargarán dinámicamente desde el servidor -->
        </select>
    </div>
    <button id="registrarSalidaBTN">Registrar Salida</button>

</div>
